*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(245, 222, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 400px;
    /* height: 400px; */
    background-color: white;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

h2{
    text-align: center;
    color: rgb(99, 66, 6);
    margin-bottom: 30px;
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid rgb(99, 66, 6);
    border-radius: 5px;
    font-size: 15px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: rgb(99, 66, 6);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}